[user]
	name = Derek Chan
	email = derekchan1994@gmail.com
[difftool]
	prompt = false
[diff]
	tool = meld
[merge]
	tool = meld
[core]
	editor = vim
[color]
	status = auto
	diff = auto
	branch = auto
	ui = auto
[mergetool]
	prompt = false
